BOT_TOKEN=YOUR_DISCORD_DEVELOPER_BOT_CREDENTIAL
HTB_TOKEN=YOUR_LEGACY_API_TOKEN
HTB_V4_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2NTQ0NDI4MzQsImV4cCI6MTY4NTk3ODgzNCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6Impyb2NrZXRAZXhhbXBsZS5jb20iLCJSb2xlIjpbIk1hbmFnZXIiLCJQcm9qZWN0IEFkbWluaXN0cmF0b3IiXX0.0ggKjMd1i0coKGC9p05c11TYtCmcwjdTQkw2l-CQLE0
HTB_EMAIL=your_htb_email_if_not_using_api_token@any.com
HTB_PASS=your_htb_password_if_not_using_api_token
DATABASE_URL=postgres://db_uname:db_pass@host_ip/db_name
GOOGLE_APPLICATION_CREDENTIALS={YOUR_JSON_KEY}
GOOGLE_CLOUD_PROJECT=your_project_tag
ADMIN_DISCORD_IDS=["673856718466029568"]
CAPTAIN_DISCORD_IDS=["673856718466029568", "2374826378357234956"]
DISCORD_GUILD_ID=744689706153109545
DISCORD_ANNOUNCE_CHAN_ID=746262453642034474
EMOJI_GUILD_ID=744506234553109545
HTB_TEAM_ID=21024
API_SERVER_DISCORD_CLIENT_SECRET=dioSDfioesn3FOiSdf7_DuSDFU3r
API_SERVER_DISCORD_CLIENT_ID=486027495602877378
